{% extends "base.html" %}
{% block title %}{{ title }}{% endblock title %}
{% block content %}
  <div class="container">
    <div class="row">
      <h2 class="pt-lg-5">Добро пожаловать в сервис отправки рассылок.</h2>
      <div class="col-12">
        <div>
          Вы можете создать новую рассылку, а можете использовать существующую.
        </div>
      </div>
    </div>
    <div class="row pt-2">
      <div class="col-12">
        <div>
          <a class="btn btn-primary"
             href="{% url 'core:mailing_table' %}">Рассылки</a>
        </div>
      </div>
    </div>
  </div>
  <p></p>
{% endblock %}