{% extends "base.html" %}
{% block title %}{{ title }}{% endblock title %}
{% block content %}
  <div class="container">
    <div class="row">
      <h2 class="pb-lg-3">Добро пожаловать в сервис отправки рассылок.</h2>
      <div class="col-12">
        <div>
          <p>
            Сервис позволяет отправить рассылку нескольким пользователям с
            учетом шаблона. Рассылку можно отправить отложенную по времени.
            Одну и туже рассылку можно отправить несколько раз внеся изменения
            в шаблон.
          </p>
          <p>
            Сервис ведет журнал отправки рассылок и отслеживает просмотренные
            письма пользователями.
          </p>
        </div>
      </div>
    </div>

    <p></p>
  </div>

{% endblock %}