<form method="post" action="">
  {% csrf_token %}

  <div class="modal-header">
    <h3 class="modal-title">Подписчики</h3>
    <button type="button" class="close" data-bs-dismiss="modal"
            aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    {% if subscribe %}
      <table class="table table-hover">
        <thead>
        <tr class="table-primary text-center">
          <th>Пользователь</th>
          <th>Управление</th>
        </tr>
        </thead>
        {% for subscriber in subscribe %}
          <tr>
            <td>
              {{ subscriber.user }}
            </td>
            <td class="text-center">
              <a class="btn btn-danger"
                 href="{% url 'core:mailing_unsubscribe_user' mailing_id subscriber.user.id %}"
              >Отписать</a>
            </td>
          </tr>
        {% endfor %}
      </table>
    {% else %}
      <p>На рассылку никто не подписан.</p>
    {% endif %}
    <p>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-bs-dismiss="modal">
      Закрыть
    </button>
  </div>

</form>
