<form method="post" action="">
  {% csrf_token %}

  <div class="modal-header">
    <h3 class="modal-title">Пользователи</h3>
    <button type="button" class="close" data-bs-dismiss="modal"
            aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    {% if unsubscribe_users %}
      <table class="table table-hover">
        <thead>
        <tr class="table-primary text-center">
          <th>Пользователь</th>
          <th>Управление</th>
        </tr>
        </thead>
        {% for user in unsubscribe_users %}
          <tr>
            <td> {{ user }} </td>
            <td class="text-center">
              <a class="btn btn-primary"
                 href="{% url 'core:mailing_subscribe_user' mailing_id user.id %}"
              >Подписать</a>
            </td>
          </tr>
        {% endfor %}
      </table>
    {% else %}
      <p>Все существующие пользователи уже подписаны на данную рассылку.</p>
    {% endif %}
  </div>

  <div class="modal-footer">
    <a class="btn btn-info" href="{% url 'core:user_table' %}">
      Управление пользователями
    </a>
    <button type="button" class="btn btn-success" data-bs-dismiss="modal">
      Закрыть
    </button>
  </div>

</form>


